* {
    margin: 0;
    padding: 0;
}

canvas {
    cursor: grab;
}

.loading-screen {
    height: 50px;
    background-color: orange;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.loading-screen-none {
    display: none;
}