* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
}

canvas {
    cursor: grab;
}

.loading-screen {
    height: 50px;
    background-color: orange;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.loading-screen-none {
    display: none;
}

.main-menu-left {
    height: 100%;
    width: 250px;
    background-color: #ededed;
    border-right: 1px solid rgb(228, 228, 228);
    position: fixed;
    .main-menu-left-top {
        margin: 15px;
        h1 {
            font-size: 22px;
            font-weight: 900;
            margin-bottom: 5px;
        }
        p {
            color: rgb(104, 104, 104);
            font-size: 15px;
        }
    }
    .main-menu-left-container {
        overflow: scroll;
        height: 100%;
        width: 100%;
        background-color: rgb(250, 250, 250);
        .main-menu-left-btn-style {
            width: 100%;
            padding: 10px 0px 10px 0px;
            background-color: white;
            border: 1px solid #ebedee;
            margin: 2px 0px 2px 0px;
            cursor: pointer;
        }
        .menu-left-btn-active {
            background-color: black;
            color: white;
        }
        .models-to-choose-from-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 105px;
            h3 {
                font-size: 14px;
                color: rgb(24, 24, 24);
                margin-top: 5px;
            }
            .model-to-choose-from {
                width: 200px;
                height: 200px;
                background-color: #ededed;
                margin: 5px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                cursor: pointer;
                .model-to-chose-from-img {
                    background-color: #ededed;
                    width: 170px;
                    height: 170px;
                    img {
                        width: 170px;
                        height: 170px;
                    }
                }
                h3 {
                    color: rgb(59, 59, 59);
                }
            }
        }
    }
}

.right-menu {
    height: 100%;
    width: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    right: 0;
    flex-direction: column;
    .right-menu-container {
        background-color: rgba(255, 0, 0, 0);
        border: none;
        margin: 5px 0px 5px 0px;
    }
    .right-menu-span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        font-size: 22px;
        background-color: black;
        color: white;
        border-radius: 100%;
        justify-content: center;
        cursor: pointer;
    }
    .right-menu-bottom {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
}